In [1]:
from snowflake.snowpark.session import Session
#import numpy as np
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

c:\Users\6119811\anaconda3\envs\py38\lib\site-packages\snowflake\connector\options.py:96: UserWarning: You have an incompatible version of 'pyarrow' installed (10.0.1), please install a version that adheres to: 'pyarrow<8.1.0,>=8.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [5]:
# Create Session object
def create_session_object():
   connection_parameters = {
      "account": "xxxx.ca-central-1.aws",
      "user": "xxxx",
      "password": "xxxx",
      "role": "sysadmin",
      "warehouse": "compute_WH",
      "database": "fengdb",
      "schema": "fengschema"
   }
   session = Session.builder.configs(connection_parameters).create()
   print(session.sql('select current_warehouse(), current_database(), current_schema()').collect())
   return session

In [6]:
session = create_session_object()

[Row(CURRENT_WAREHOUSE()='COMPUTE_WH', CURRENT_DATABASE()='FENGDB', CURRENT_SCHEMA()='FENGSCHEMA')]

In [22]:
from snowflake.snowpark.types import StructType, StructField, IntegerType, StringType, FloatType
user_schema = StructType([\
                            StructField("name", StringType()), \
                            StructField("age", IntegerType())\
                        ])

sp_df=session.read\
    .options({"field_delimiter": "\t", "skip_header": 0})\
    .schema(user_schema)\
    .csv("@my_internal_stage/export.tsv_0_0_0.csv")

In [23]:
sp_df.collect()

[Row(NAME='Tom', AGE=33), Row(NAME='John', AGE=29)]

In [27]:
pd.DataFrame(sp_df.collect())

   NAME  AGE
0   Tom   33
1  John   29

In [ ]:
sp_df.to_pandas()

In [8]:
json_df = session.read.option("compression", "gzip").json("@json_stage/book.json.gz")

In [9]:
json_df.show()

--------------------------------------
|"$1"                                |
--------------------------------------
|[                                   |
|  {                                 |
|    "authors": [                    |
|      {                             |
|        "first_name": "Fiona",      |
|        "last_name": "Macdonald",   |
|        "middle_name": null         |
|      },                            |
|      {                             |
|        "first_name": "Gian",       |
|        "last_name": "Faleschini",  |
|        "middle_name": "Paulo"      |
|      }                             |
|    ],                              |
|    "book_title": "Food",           |
|    "year_published": 2001          |
|  },                                |
|  {                                 |
|    "authors": [                    |
|      {                             |
|        "first_name": "Laura",      |
|        "last_name": "Egendorf",    |
|        "middle_name": "K"          |
|      }                             |
|    ],                              |
|    "book_title": "Food",           |
|    "year_published": 2006          |
|  }                                 |
|]                                   |
--------------------------------------